# get data from remote and store for analysis

In [1]:
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from datetime import timedelta
from datetime import datetime
import pandas as pd
import numpy as np
import pymysql

In [2]:
#connect to the database
connection=pymysql.connect(host='taro.caxktie247nu.eu-west-1.rds.amazonaws.com'
                            ,port=3306
                            ,user='admin'
                            ,password='9Nw8v9yhx8uOb2nXVL8n'
                            ,db='dublinbus'
                            #,ssl={"require_secure_transport":'Off'}
                            ,cursorclass=pymysql.cursors.SSCursor)

#create a cur
cur = connection.cursor()

In [3]:
#get tables
sql="show tables"
cur.execute(sql)
tables=cur.fetchall()
tables

[('Jan_LeaveTimes',),
 ('RT_Trips',),
 ('RT_Vehicles',),
 ('dt_status',),
 ('his_weather',),
 ('section_jan',),
 ('tb_test',)]

In [4]:
for table in tables:
    name='d_'+table[0]
    sql=f"select * from dublinbus.{table[0]}"
    print(sql)
    cur.execute(sql)
    locals()['d_'+table[0]]=cur.fetchall()
    sql=f"select COLUMN_NAME from information_schema.COLUMNS where table_name = '{table[0]}' and table_schema = 'dublinbus';"
    cur.execute(sql)
    col_name=cur.fetchall()
    col=[]
    for column in col_name:
        col.append(column[0]) 
    name='df_'+table[0]
    locals()['df_'+table[0]]=pd.DataFrame(locals()['d_'+table[0]],columns=col)
    locals()['df_'+table[0]].to_csv(f"{table[0]}.csv")

select * from dublinbus.Jan_LeaveTimes
select * from dublinbus.RT_Trips
select * from dublinbus.RT_Vehicles
select * from dublinbus.dt_status
select * from dublinbus.his_weather
select * from dublinbus.section_jan
select * from dublinbus.tb_test