# get data from remote and store for analysis

In [27]:
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from datetime import timedelta
from datetime import datetime
import pandas as pd
import numpy as np
import pymysql

In [28]:
#connect to the database
connection=pymysql.connect(host='1.tcp.eu.ngrok.io'
                            ,port=27021
                            ,user='dublinbus'
                            ,password='qwerty789!'
                            ,db='dublinbus'
                            ,ssl={"require_secure_transport":'Off'}
                            ,cursorclass=pymysql.cursors.SSCursor)

#create a cur
cur = connection.cursor()

In [29]:
#get tables
sql="show tables"
cur.execute(sql)
tables=cur.fetchall()
tables

[('Apr_LeaveTimes',),
 ('Aug_LeaveTimes',),
 ('Dec_LeaveTimes',),
 ('Feb_LeaveTimes',),
 ('Jan_LeaveTimes',),
 ('Jan_Sections',),
 ('Jul_LeaveTimes',),
 ('Jun_LeaveTimes',),
 ('Mar_LeaveTimes',),
 ('May_LeaveTimes',),
 ('Nov_LeaveTimes',),
 ('Oct_LeaveTimes',),
 ('RT_LeaveTimes',),
 ('RT_Trips',),
 ('RT_Vehicles',),
 ('Sep_LeaveTimes',),
 ('his_weather',)]

In [30]:
tables.remove(('Jan_Sections',))
tables.remove(('RT_LeaveTimes',))
tables.remove(('RT_Trips',))
tables.remove(('RT_Vehicles',))
tables.remove(('his_weather',))

In [31]:
tables

[('Apr_LeaveTimes',),
 ('Aug_LeaveTimes',),
 ('Dec_LeaveTimes',),
 ('Feb_LeaveTimes',),
 ('Jan_LeaveTimes',),
 ('Jul_LeaveTimes',),
 ('Jun_LeaveTimes',),
 ('Mar_LeaveTimes',),
 ('May_LeaveTimes',),
 ('Nov_LeaveTimes',),
 ('Oct_LeaveTimes',),
 ('Sep_LeaveTimes',)]

In [23]:
for table in tables:
    name='d_'+table[0]
    sql=f"select * from dublinbus.{table[0]}"
    print(sql)
    cur.execute(sql)
    locals()['d_'+table[0]]=cur.fetchall()
    sql=f"select COLUMN_NAME from information_schema.COLUMNS where table_name = '{table[0]}' and table_schema = 'dublinbus';"
    cur.execute(sql)
    col_name=cur.fetchall()
    col=[]
    for column in col_name:
        col.append(column[0]) 
    name='df_'+table[0]
    locals()['df_'+table[0]]=pd.DataFrame(locals()['d_'+table[0]],columns=col)
    locals()['df_'+table[0]].to_csv(f"{table[0]}.csv")

select * from dublinbus.Apr_LeaveTimes

OperationalError: (2013, 'Lost connection to MySQL server during query ([WinError 10060] 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。)')